<!-- Nagłówek, Menu -->

<header class="container">

  <!-- Mały pasek nawigacyjny-->
  <nav class="settings">
    <ul class="nav justify-content-end">
      <li class="nav-item"><a class="nav-link" href="#"><i class="far fa-flag"></i><span>
            Polska (PLN)</span></a></li>
      <li class="nav-item"><a class="nav-link" href="#" routerLink="/login"><i class="fas fa-user-alt"></i><span>  Zaloguj się</span></a></li>
    </ul>
  </nav>

  <!-- logo -->
  <div class="nav justify-content-start">
    <a class="navbar-brand" href="#"><img src="./assets/img/logo_pl.svg" alt="Polskie Linie Lotnicze LOT"></a>
  </div>

  <!-- Menu główne -->
  <nav class="menu">
    <ul class="nav justify-content-center">

      <li class="nav-item"><a class="nav-link" href="#" routerLink="/flight">
          <h3>Krok 1: Wybór lotu</h3>
        </a></li>


      <li class="nav-item"><a class="nav-link" href="#" routerLink="/login">
          <h3>Krok 2: Logowanie</h3>
        </a></li>


      <li class="nav-item"><a class="nav-link" href="#" routerLink="/seats">
          <h3>Krok 3: Wybór samolotu</h3>
        </a></li>


      <li class="nav-item"><a class="nav-link" href="#" routerLink="/details">
          <h3>Krok 4: Dane pasażera</h3>
        </a></li>


      <li class="nav-item"><a class="nav-link" href="#" routerLink="/summary">
          <h3>Krok 5: Podsumowanie</h3>
        </a></li>

    </ul>
  </nav>

</header>
<!-- Koniec menu głównego -->

<ul class="nav justify-content-center second_menu">
  <!-- Zarezerwuj lot -->
  <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-plane"></i><span>Zarezerwuj
        lot</span></a></li>
  <!-- Zarządzaj rezerwacją -->
  <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-id-card"></i><span> Zarządzaj
        rezerwacją</span></a></li>
  <!-- Odpraw się online -->
  <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-plane-departure"></i><span> Odpraw się
        online</span></a></li>
  <!-- Hotel -->
  <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-bed"></i><span> Hotel</span></a></li>
  <!-- Samochód -->
  <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-car-side"></i><span> Samochód</span></a>
  </li>
  <!-- Transfer -->
  <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-taxi"></i><span> Transfer</span></a></li>
  <!-- Parking -->
  <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-parking"></i><span> Parking</span></a>
  </li>
</ul>
