<!-- Stopka -->
<footer>
  <!-- sekcja z pobieraniem aplikacji i social media -->
  <section class="margins">

    <div class="aplication">
      <h2 class="small_size">Ściągnij naszą aplikację mobilną</h2>
      <ul class="row nav justify-content-start">
        <li class="nav-item"><a href="#" class="nav-link"><i class="fas fa-plane"></i></a></li>

        <li class="nav-item"><a href="#" class="nav-link">App Store <i class="fab fa-app-store"></i></a>
        </li>

        <li class="nav-item"><a href="#" class="nav-link">Google Play <i class="fab fa-google-play"></i></a>
        </li>
      </ul>
    </div>


    <nav class="social_media">
      <h2 class="small_size">Odwiedź nas na:</h2>
      <ul class="row nav justify-content-end">
        <li class="nav-item"><a href="#" class="nav-link"><i class="fab fa-facebook-f"></i></a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="fab fa-youtube"></i></a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="fab fa-linkedin-in"></i></a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="fab fa-instagram"></i></a></li>
      </ul>
    </nav>
  </section>
  <!-- koniec sekcji -->

  <!-- sekcja menu dodatkowe -->
  <nav class="small_size menu_additional">
    <ul class="row nav justify-content-start margins">
      <li class="col-1 nav-item"><a href="#"><span>Kontakt</span></a></li>
      <li class="col-1 nav-item"><a href="#"><span>Regulacje</span></a></li>
      <li class="col-1 nav-item"><a href="#"><span>O nas</span></a></li>
      <li class="col-1 nav-item"><a href="#"><span>Biuro Prasowe</span></a></li>
      <li class="col-1 nav-item"><a href="#"><span>LOT Cargo</span></a></li>
      <li class="col-1 nav-item"><a href="#"><span>Spotkania i konferencje</span></a></li>
      <li class="col-1 nav-item"><a href="#"><span>LOT Charters</span></a></li>
      <li class="col-1 nav-item"><a href="#"><span>Mapa serwisu</span></a></li>
      <li class="col-1 nav-item"><a href="#"><span>Polityka cookies</span></a></li>
      <li class="col-1 nav-item"><a href="#"><span>Wynajem samochodu</span></a></li>
      <li class="col-1 nav-item"><a href="#"><span>Loty </span><i class="fas fa-chevron-down"></i></a></li>
    </ul>
  </nav>
  <!-- koniec menu dodatkowego -->
  <!-- - copyright -->
  <div class="margins">
    <p class="small_size">&copy; LOT.com 2020. Wszelkie prawa zastrzeżone.</p>
  </div>
  <!-- - copyright -->

</footer>
