<!-- Strona główna -->
<main>
  <!-- SEKCJA1 tekst z obrazkiem-->
  <section>
    <ul>
      <li class="picture1">
        <div>
          <span>
            <h3>Zaplanuj swoją podróż z LOT-em</h3>
          </span>
          <span>
            <p>Elastycznie i bez ukrytych opłat</p>
          </span>
          <a href="#">Sprawdź szczegóły <i class="fas fa-chevron-right"></i></a>
        </div>
      </li>
    </ul>
  </section>
  <!-- koniec sekcji 1 -->

  <!-- SEKCJA 2 cztery kwadraty -->
  <section class="margins">
    <ul class="row">
      <!-- 1 kwadrat -->
      <li class="col-3">
        <div>
          <div class="blue_square"><i class="far fa-comment-alt"></i></div>
          <div class="gray_square">
            <h3>FAQ</h3>
            <p>Odpowiedzi na najczęściej zadawane pytania.</p>
            <a><span>Sprawdź </span><i class="fas fa-chevron-right" id="arrow"></i></a>
          </div>
        </div>
      </li>
      <!-- koniec 1 kwadrat -->
      <!-- 2 kwadrat -->
      <li class="col-3">
        <div>
          <div class="blue_square"><i class="far fa-question-circle"></i></div>
          <div class="gray_square">
            <h3>Aktualne informacje dla pasażerów</h3>
            <p>Aktualne informacje dla pasażerów związane z sytuacją epidemiologiczną w Polsce,</p>
            <a><span><span>Sprawdź </span><i class="fas fa-chevron-right" id="arrow"></i></span></a>
          </div>
        </div>
      </li>
      <!-- koniec 2 kwadrat -->
      <!-- 3 kwadrat -->
      <li class="col-3">
        <div>
          <div class="blue_square"><i class="far fa-calendar-alt"></i></div>
          <div class="gray_square">
            <h3>Zawieszenie ruchu lotniczego</h3>
            <p>Informacja o zawieszeniu ruchu międzynarodowych połączeń lotnicznych.</p>
            <a><span>Sprawdź <i class="fas fa-chevron-right" id="arrow"></i></span></a>
          </div>
        </div>
      </li>
      <!-- koniec 3 kwadrat -->
      <!-- 4 kwadrat -->
      <li class="col-3">
        <div>
          <div class="blue_square"><i class="far fa-file-alt"></i></div>
          <div class="gray_square">
            <h3>Zmiana / zwrot biletów</h3>
            <p>Procedura zmian lub zwrotów biletów.</p>
            <a><span>Sprawdź <i class="fas fa-chevron-right" id="arrow"></i></span></a>
          </div>
        </div>
      </li>
      <!-- koniec 4 kwadrat -->
    </ul>
  </section>
  <!-- koniec sekcji 2 -->

  <!-- SEKCJA 3 tekst z obrazkiem -->
  <section>
    <ul>
      <li class="picture2">
        <div>
          <h3><span>SPRAWDŹ SPECJALNE LOTY DO POLSKI</span></h3>
          <p><span><span>#CARGOdlaPolski</span></span></p>
          <a href="#"><span><span>Zarezerwuj swoje cargo <i class="fas fa-plane"></i><i
                  class="fas fa-chevron-right"></i></span></span></a>
        </div>
      </li>
    </ul>
  </section>
  <!-- koniec sekcji 3 -->

  <!-- SEKCJA 4 cztery kwadraty -->
  <section class="margins">
    <ul class="row">
      <!-- 1 kwadrat -->
      <li class="col-3">
        <div class="gray_square" id="koronawirus">
          <h3>Koronawirus (SARS-CoV-2): aktualne informacje</h3>
        </div>
        <div class="gray_square">
          <p>Sprawdź informacje dla pasażerów dotyczące sytuacji związanej z koronawirusem.</p>
          <a><span>Czytaj dalej </span><i class="fas fa-chevron-right" id="arrow"></i></a>
        </div>
      </li>
      <!-- koniec 1 kwadrat -->
      <!-- 2 kwadrat -->
      <li class="col-3">
        <div>
          <div class="gray_square"><i class="fas fa-globe"></i></div>
          <div class="gray_square">
            <h3>Gwarancja Najlepszej Ceny</h3>
            <p><span>Nie szukaj ofert w innych miejscach - </span>
              <span>kupując bezpośrednio na lot.com otrzymasz Gwarancję Najlepszej Ceny.</span></p>
            <a><span>Sprawdź </span><i class="fas fa-chevron-right" id="arrow"></i></a>
          </div>
        </div>
      </li>
      <!-- koniec 2 kwadrat -->
      <!-- 3 kwadrat -->
      <li class="col-3">
        <div>
          <div class="gray_square"><i class="fas fa-suitcase-rolling"></i></div>
          <div class="gray_square">
            <h3>Kod promocyjny</h3>
            <p>Zmieniłeś bilet na stronie lot.com, przez biuro podróży lub Contact Center? Wypełnij
              formularz i otrzymaj kod promocyjny -30% na przyszłe podróże z LOT.</p>
            <a><span>Przejdź do formularza </span><i class="fas fa-chevron-right" id="arrow"></i></a>
          </div>
        </div>
      </li>
      <!-- koniec 3 kwadrat -->
      <!-- 4 kwadrat -->
      <li class="col-3">
        <div>
          <div class="gray_square"><i class="far fa-envelope-open"></i></div>
          <div class="gray_square">
            <h3>Newsletter LOT</h3>
            <p><span>Chcesz jako pierwszy dowiedzieć się</span><span>o nowych kierunkach lub
                skorzystać</span><span>wyjątkowych promocji cenowych?</span></p>
            <a><span>Sprawdź </span><i class="fas fa-chevron-right" id="arrow"></i></a>
          </div>
        </div>
      </li>
      <!-- koniec 4 kwadrat -->
    </ul>
  </section>
  <!-- koniec sekcji 4 -->
</main>
