.free {
  fill: green;
  opacity: 0.61499999;
  stroke: #000000;
}

.occupied {
  fill: red;
}

.plane {
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


// .popup{
//   display: none;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   z-index: 2;
// }
