<!-- Uzupełnienie danych pasażera-->
<form>
  <h2>Dane pasażera</h2>
  <div class="row">

    <div>
      <label for="first_name" class="large_text">Imię</label>
      <input #first_name placeholder="Wpisz imię" type="text">
    </div>

    <div>
      <label for="last_name" class="large_text">Nazwisko</label>
      <input #last_name placeholder="Wpisz nazwisko" type="text">
    </div>

    <div>
      <label for="address" class="large_text">Adres</label>
      <input #address placeholder="Wpisz adres" type="text">
    </div>
  </div>

  <div class="row">
    <div>
      <label class="large_text">
        <span class="large_text">Dodatkowy bagaż</span>
      </label>
      <select #luggage>
        <option selected="selected" value="0">Nie</option>
        <option value="100">Tak</option>
      </select>
    </div>

    <div>
      <label class="large_text">
        <span>Zniżka dla dziecka</span>
      </label>
      <select #discountChildren>
        <option selected="selected" value="0">Nie</option>
        <option value="500">Tak</option>
      </select>
    </div>
    <div>
      <label class="large_text">
        <span>Zniżka dla seniora</span>
      </label>
      <select #discountSeniors>
        <option selected="selected" value="0">Nie</option>
        <option value="600">Tak</option>
      </select>
    </div>
  </div>

  <button type="button" class="summary btn btn-success"
    (click)="showFirstName(first_name.value); showLastName(last_name.value); showAddress(address.value); showLuggage(luggage.value); showDiscountChildren(discountChildren.value);showDiscountSeniors(discountSeniors.value); showInformation()">Sprawdź
    wprowadzone dane</button>

  <div [ngClass]="hidden" id="summary_information">

    <p>Twoje imię: {{firstName}}</p>
    <p>Twoje nazwisko: {{lastName}}</p>
    <p>Twój adres: {{addressName}}</p>
    <p>Twój dodatkowy bagaż: {{luggageValue | currency: "PLN"}}</p>
    <p>Twoja zniżka dla dziecka: {{discountChildrenValue | percent }}</p>
    <p>Twoja zniżka dla seniora: {{discountSeniorsValue | percent }}</p>
  </div>

  <div class="row justify-content-center">
    <a routerLink="/summary"><button type="button" class="btn btn-danger">
        <span>Przejdź do podsumowania </span>
        <i class="fas fa-plane"></i>
      </button></a>
  </div>
</form>


<router-outlet> </router-outlet>

